<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <h3>Hey, I'm Thang</h3>
    <p>
        I'm working as a {{ site.data.index.careers[0].job }} at {{ site.data.index.careers[0].name }}, a company based in Hanoi, VN. I graduated from Academy of Finance, Vietnam but I love working on the software development. That's why I'm here.
        
        I work with Node.js for most projects, but I'm able to work with ReactJS, VueJS also.
        <br />
        Beside that, I like reading book, travelling and taking the pictures and typing with mechanical keyboard.
    </p>
</div>