<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<h1><span data-i18n="skills.my_skills">Skills</span></h1>
<canvas id="{{ site.data.index.skills.id }}" height="500" width="500"></canvas>
<script>
  var ctx = document.getElementById("{{ site.data.index.skills.id }}");
  var data = {
    labels: "{{ site.data.index.skills.aspects }}".split(","),
    datasets: [{
      label: "{{ site.data.index.skills.label }}",
      backgroundColor: "{{ site.data.index.skills.color }}".split(", "),
      borderWidth: 1,
      data: "{{ site.data.index.skills.percentage }}".split(", "),
      // data: [{{ site.data.index.skills.percentage }}]
    }]
  };
  var myRadarChart = new Chart.PolarArea(ctx, {
    data: data,
    options: {
      responsive: true,
      legend: {
        display: false
        // position: 'top',
      },
      // title: {
      //   display: true,
      //   text: 'Chart.js Polar Area Chart'
      // },
      scale: {
        ticks: {
          // beginAtZero: true,
          min: 0,
          max: 100,
          display: false
        },
        reverse: false
      },
      animation: {
        animateRotate: false,
        animateScale: true
      }
    }
  });
</script>