---
layout: default
---

{% if page.image.feature %}
<div class="post-image-feature">
  <img class="feature-image"
    src={% if page.image.feature contains 'https' or page.image.feature contains 'http' %} "{{ page.image.feature }}"
    {% else %} "{{ site.url }}/img/{{ page.image.feature }}" {% endif %} alt="{{ page.title | escape }} feature image">

  {% if page.image.credit %}
  <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
</div><!-- /.image-wrap -->
{% endif %}


<div id="post">
  <header class="post-header">
    <h1 title="{{ page.title | escape }}">{{ page.title }}</h1>
    <span class="post-meta">
      <span class="post-date">
        {{ page.date | date: "%-d %b %Y" }}
      </span>
      •
      {% include read_time.html %}
    </span>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>

<div class="share-buttons">
  <h6>Share on: </h6>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="twitter"
        title="Share on Twitter"><i class="fab fa-2x fa-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook"
        title="Share on Facebook"><i class="fab fa-2x fa-facebook"></i></a>
    </li>
    <li>
      <a href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}" class="hacker-news"
        title="Share on Hacker News"><i class="fab fa-2x fa-hacker-news-square"></i></a>
    </li>
    <li>
      <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" class="reddit"
        title="Share on Reddit"><i class="fab fa-2x fa-reddit-alien"></i></a>
    </li>
  </ul>
</div><!-- end share-buttons -->

{% if site.owner.disqus-shortname and page.comments == true %}
<div id="disqus_thread"></div>
{% include disqus.html %}
{% endif %}